*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-login {
  width: 100%;
  z-index: -12;
  display: flex;
  margin-top: -2%;
  height: 33.1rem;
  font-size: 62.5%;
  position: absolute;
  background: #ffffff;
  font-family: "Popins", sans-serif;
  justify-content: space-around;
}
.container-login .container-logo {
  width: 100%;
  z-index: -11;
  display: flex;
  align-items: start;
  position: absolute;
  padding-top: 0.5rem;
  place-content: center;
  background: #3d405b;
  height: clamp(100px, 15rem, 21rem);
}
.container-login .container-logo .img-logo {
  width: 8rem;
  height: 10rem;
  background-size: 99%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./img/logoSvg.svg);
}
.container-login .container-form {
  z-index: 200;
  display: flex;
  height: 24rem;
  margin-top: 9rem;
  align-items: center;
  background: #ffffff;
  flex-direction: column;
  border-radius: 1.25rem;
  justify-content: center;
  width: 20.7rem;
  box-shadow: 1px 1px 8px -6px #3d405b, -1px -1px 8px -6px #3d405b;
}
.container-login .container-form .text {
  padding: 0.5rem;
  margin-top: -9rem;
  margin-bottom: 1rem;
}
.container-login .container-form .text span {
  font-weight: 600;
  font-size: 1.4rem;
  color: #3d405b;
  text-transform: uppercase;
}
.container-login .container-form .items-form {
  width: 20rem;
  display: flex;
  justify-content: center;
}
.container-login .container-form .items-form .span-pass {
  font-weight: 500;
  position: absolute;
  translate: 72.5% 62px;
}
.container-login .container-form .items-form .span-pass a {
  font-size: 0.58rem;
  color: #3d405b;
}
.container-login .container-form .items-form .input-class {
  width: 290px;
  height: 2.5rem;
  margin-top: 10px;
  justify-content: center;
  border: 1px solid #3d405b;
  border-radius: 6.25rem;
}
.container-login .container-form .items-form .input-class.pass {
  margin-top: 15px;
  margin-bottom: -10px;
}
.container-login .container-form .items-form i {
  font-size: 1.7rem;
  color: #3d405b;
  transform: translate(7px, 6px);
}
.container-login .container-form .items-form input {
  width: 15rem;
  height: 2rem;
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding-left: 10px;
  background: #ffffff;
  border-radius: 6.25rem;
  transform: translate(5px, 2px);
}
.container-login .container-form .items-form input:-webkit-autofill,
.container-login .container-form .items-form input:-webkit-autofill:hover,
.container-login .container-form .items-form input:-webkit-autofill:focus {
  background: #ffffff;
  box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
.container-login .container-form .items-form .email {
  left: 42%;
  top: 51.25%;
  font-size: 0.8rem;
  color: #3d405b;
  position: absolute;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.container-login .container-form .items-form input:focus + .email,
.container-login .container-form .items-form input:valid + .email {
  top: 47.2%;
  background: #ffffff;
  transition: all 0.2s ease-in-out;
}
.container-login .container-form .items-form .password {
  left: 42%;
  top: 61.5%;
  font-size: 0.8rem;
  position: absolute;
  color: #3d405b;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.container-login .container-form .items-form input:focus + .password,
.container-login .container-form .items-form input:valid + .password {
  top: 57.7%;
  background: #ffffff;
  transition: all 0.2s ease-in-out;
}
.container-login .container-form .btn-login {
  top: 77%;
  left: 50%;
  width: 290px;
  height: 2rem;
  display: flex;
  position: absolute;
  justify-content: center;
  transform: translateX(-50%);
}
.container-login .container-form .btn-login button {
  width: 100%;
  border: none;
  font-size: 1rem;
  color: #ffffff;
  background: #3d405b;
  border-radius: 6.25rem;
}
.container-login .container-form .btn-login :active {
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}
.container-login .container-form .message {
  bottom: 1%;
  left: 50%;
  width: 270px;
  height: 50px;
  position: absolute;
  margin-bottom: 10px;
  transform: translateX(-50%);
}
.container-login .container-form .message p {
  font-size: 0.7rem;
  text-wrap: pretty;
  color: #3d405b;
  text-align: center;
}/*# sourceMappingURL=style.css.map */